/* .custom-tab-active {
  background-color: #fcf8f8 !important; // Fondo sutil
  font-weight: 600;                     // Un poco más grueso
  border-bottom: 2px solid #007bff;     // Línea azul destacada abajo
}
 */
.stepper-wrapper {
  font-family: Arial;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 50%;
      height: 2px;
      width: 100%;
      background-color: #ccc;
      z-index: 1;
    }

    &:last-child::after {
      content: none;
    }

    .step-counter {
      position: relative;
      z-index: 2;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #707478;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #707478;
    }

    .step-name {
      margin-top: 10px;
      font-size: 13px;
      color: #707478;
    }

    &.active .step-counter {
      border-color: #0D8DF3;
      color: #0D8DF3;
    }

    &.completed .step-counter {
      background-color: #0D8DF3;
      color: #fff;
      border-color: #0D8DF3;
    }

    &.completed::after {
      background-color: #0D8DF3;
    }
  }
}