.status-box {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-right: 8px;
}
.bg-success {
  background-color: #28a745 !important; /* verde */
}
.bg-danger {
  background-color: #dc3545 !important; /* rojo */
}