<div style="padding-top: 15px"></div>
<section class="main-content">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h4>Editar Oficio</h4>
            <div class="input-group" style="max-width: 600px">
              <input
                  type="text"
                  class="form-control"
                  placeholder="Buscar oficio..."
                  [(ngModel)]="filtroBusqueda"
                  (input)="buscar()"
                />

              <span class="input-group-text">
                <i class="bi bi-search"></i>
              </span>
            </div>
          </div>
          <div
            *ngIf="loadingIndicator"
            class="d-flex justify-content-center align-items-center"
            style="height: 200px"
          >
            <div
              class="spinner-border text-primary"
              role="status"
              style="width: 3rem; height: 3rem"
            >
              <span class="visually-hidden">Cargando...</span>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="oficiosPaginados && oficiosPaginados.length > 0; else noOficios">
              <ngx-datatable
                class="bootstrap"
                [rows]="oficiosPaginados"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [scrollbarH]="true"
              >
                <ngx-datatable-column
                  name="Número"
                  [headerClass]="'text-center'"
                  [cellClass]="'text-center'"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.numero }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="Código"
                  [headerClass]="'text-center'"
                  [cellClass]="'text-center'"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.codigo }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="Fecha del Oficio"
                  [headerClass]="'text-center'"
                  [cellClass]="'text-center'"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.fecha_envio | date : "dd/MM/yyyy" }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="Archivo PDF"
                  [headerClass]="'text-center'"
                  [cellClass]="'text-center'"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span
                      class="truncate-cell"
                      [title]="row.nombre_original_pdf"
                    >
                      {{ row.nombre_original_pdf }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="Estado"
                  [headerClass]="'text-center'"
                  [cellClass]="'text-center'"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.estado_publicacion ? "Publicado" : "No Publicado" }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="Fecha de Publicación"
                  [headerClass]="'text-center'"
                  [cellClass]="'text-center'"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.fecha_publicacion | date : "dd/MM/yyyy" }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="Acciones"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [width]="120"
                  [headerClass]="'text-center'"
                  [cellClass]="'text-center'"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex justify-content-center">
                      <button
                        class="btn btn-warning text-white btn-sm"
                        (click)="abrirOficio(row.id)"
                        [disabled]="row.estado_publicacion"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <nav *ngIf="totalPaginas > 1" aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-3">
                  <li class="page-item" [class.disabled]="paginaActual === 1">
                    <button
                      class="page-link"
                      (click)="cambiarPagina(paginaActual - 1)"
                    >
                      &lt;
                    </button>
                  </li>

                  <li
                    class="page-item"
                    *ngFor="
                      let page of [].constructor(totalPaginas);
                      let i = index
                    "
                    [class.active]="paginaActual === i + 1"
                  >
                    <button class="page-link" (click)="cambiarPagina(i + 1)">
                      {{ i + 1 }}
                    </button>
                  </li>

                  <li
                    class="page-item"
                    [class.disabled]="paginaActual === totalPaginas"
                  >
                    <button
                      class="page-link"
                      (click)="cambiarPagina(paginaActual + 1)"
                    >
                      &gt;
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
            <ng-template #noOficios>
              <p>No hay oficios para mostrar.</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
