<div style="padding-top: 15px"></div>
<section class="main-content">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h4>Pendientes para Publicar</h4>
            <div class="input-group" style="max-width: 600px">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar oficio..."
                [(ngModel)]="filtroBusqueda"
                (input)="filtrarOficios()"
              />
              <span class="input-group-text">
                <i class="bi bi-search"></i>
              </span>
              <button
              type="button"
              class="btn btn-success me-2 px-3 py-2"
              (click)="publicarSeleccionados()"
              [disabled]="!haySeleccionados"
            >
              <i class="bi bi-send-fill me-1"></i> Publicar
            </button>
            </div>
          </div>

          <div
            *ngIf="loadingIndicator"
            class="d-flex justify-content-center align-items-center"
            style="height: 200px"
          >
            <div
              class="spinner-border text-primary"
              role="status"
              style="width: 3rem; height: 3rem"
            >
              <span class="visually-hidden">Cargando...</span>
            </div>
          </div>

          <div class="card-body">
            <div *ngIf="oficios && oficios.length > 0; else noOficios">
              <table class="table table-bordered">
                <thead class="text-center">
                  <tr>
                    <th class="text-center">
                      <input
                        type="checkbox"
                        [(ngModel)]="todosSeleccionados"
                        (change)="seleccionarTodos(todosSeleccionados)"
                        style="width: 18px; height: 18px;"
                      />
                    </th>
                    <th>Numero</th>
                    <th>Código</th>
                    <th>Fecha del Oficio</th>
                    <th>Archivo PDF</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let oficio of oficios; let i = index">
                    <td class="text-center">
                      <input
                        type="checkbox"
                        [(ngModel)]="seleccionados[i]"
                        (change)="actualizarSeleccionGeneral()"
                      />
                    </td>
                    <td>{{ oficio.numero }}</td>
                    <td>{{ oficio.codigo }}</td>
                    <td class="text-center">
                      {{ oficio.fecha_envio | date : "dd/MM/yyyy" }}
                    </td>
                    <td>{{ oficio.nombre_original_pdf }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #noOficios>
              <p>No hay oficios para mostrar.</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
