/* Depuración: bordes negros gruesos */
:host ::ng-deep ngx-datatable.bootstrap {
  border: 1px solid black !important;
}

:host ::ng-deep ngx-datatable.bootstrap .datatable-header,
:host ::ng-deep ngx-datatable.bootstrap .datatable-body,
:host ::ng-deep ngx-datatable.bootstrap .datatable-footer {
  border-bottom: 1px solid black !important;
}

:host ::ng-deep ngx-datatable.bootstrap .datatable-header-row,
:host ::ng-deep ngx-datatable.bootstrap .datatable-body-row {
  border: 1px solid black !important;
}

:host ::ng-deep ngx-datatable.bootstrap .datatable-header-cell,
:host ::ng-deep ngx-datatable.bootstrap .datatable-body-cell {
  border: 1px solid black !important;
}