<div class="d-flex min-vh-100">
  <div
    class="row shadow-lg p-4 rounded-4 bg-white animate__animated animate__fadeIn"
    style="width: 900px; height: 400px; overflow: hidden; margin-top: 180px; margin-left: 450px;"
  >
    <div class="col-md-6 text-center p-3 d-flex flex-column justify-content-center">
      <h2 class="fw-bold text-dark">¡Bienvenido!</h2>
      <p class="fw-bold text-dark">Sistema de Gestión de Oficios y Documentos</p>
      <p class="text-dark">
        En esta plataforma podrás administrar y subir tus Oficios con sus Resoluciones al sistema para
        posteriormente ser publicados en el Portal de Transparencia.
      </p>
    </div>
    <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
      <img
        src="assets/images/logo_original.png"
        alt="Imagen bienvenida"
        class="img-fluid rounded"
        style="max-width: 320px;"
      />
    </div>
  </div>
</div>

