<nav class="navbar navbar-dark topbar py-1">
  <!-- cambia container-fluid → container -->
  <div class="container d-flex justify-content-between align-items-center">

    <!-- Izquierda -->
    <div class="d-flex align-items-center gap-4">
      <span class="d-flex align-items-center text-white small">
        <i class="bi bi-envelope me-2"></i>
        ocii.informes&#79;unac.pe
      </span>

      <span class="d-flex align-items-center text-white small">
        <i class="bi bi-telephone me-2"></i>
        429-6609 / 429-9899
      </span>
    </div>

    <!-- Derecha -->
    <div class="d-flex align-items-center gap-3">
      <a href="http://admision.unac.edu.pe/"
         class="text-white text-decoration-none" target="_blank" rel="noopener">
        ADMISION
      </a>

      <a href="https://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=10404"
         target="_blank" rel="noopener">
        <img src="assets/images/vistas-publico/pte.png"
             alt="Portal de Transparencia Estándar"
             height="40">
      </a>
    </div>


    

  </div>
</nav>