<div style="padding-top: 15px;">


</div>
<section class="main-content">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Buscar Documento</h4>
          </div>
          <div class="card-body">
            <div class="row align-items-end mb-3">
              <div class="col-md-6">
                <label for="termino">Buscar documento</label>
                <input
                  [(ngModel)]="terminoBusqueda"
                  name="termino"
                  type="text"
                  class="form-control"
                  placeholder="Escriba el nombre o asunto"
                />
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary" (click)="buscarDocumento(1)">
                  Buscar
                </button>
              </div>
            </div>

            <div *ngIf="dataLoaded; else initialMessage">
            <div *ngIf="rows.length > 0; else noDataTemplate">

               <ngx-datatable
              #table
              class="bootstrap"
              [rows]="rows"
              [columns]="[]"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [scrollbarH]="scrollBarHorizontal"
              [count]="totalItems"
              [limit]="itemsPorPagina"
              [offset]="paginaActual - 1"
              (page)="onPageChange($event)"
            >
              <ngx-datatable-column name="Nombre del documento">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.nombre }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Número documento">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.num_anio}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Asunto">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.asunto }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Archivo PDF">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.nombre_original_pdf || 'No disponible' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Acciones" [sortable]="false" [canAutoResize]="false" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button class="btn btn-sm btn-primary me-1" (click)="descargarDoc(row.id, row.nombre_original_pdf)">
                    <i class="fa fa-download"></i>
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="eliminarDocumento(row.id)" >
                    <i class="fa fa-trash"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

              </div>
              </div>

              <ng-template #initialMessage>
  <p>Por favor ingrese un término de búsqueda y haga clic en Buscar.</p>
</ng-template>

<ng-template #noDataTemplate>
  <p>No se encontraron documentos para el término "{{ terminoBusqueda }}".</p>
</ng-template>
           



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
